<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
<header>
    <%- include('partials/header'); %>
</header>

<section class="form">
    <form action="/songs" method="POST">
        <div class="label-line"><label for="band">Add Band:</label></div>
        <div>
            <input type="text" class="input-main" placeholder="new band" name="band">
            <input type="text" class="input-main" placeholder="new song" name="song">
        </div>
        <div class="btn-line"><button type="submit" class="btn-main">Add</button></div>
    </form>
</section>

<!-- TODO: fix update and delete form -->
<!--
<section class="form">
    <form action="/songs" method="PUT">
        <input type="text" placeholder="update band" name="band">
        <input type="text" placeholder="update song" name="song">
    </form>
    <button id="update-button">Update FOB</button>
</section>

<section class="form">
    <button id="delete-button">Delete Band</button>
</section>
-->
<section id="message">

</section>

<section class="bandlist">
    <h2>Current Songs List</h2>
    <!--    <%= bands %>-->
    <% for(let i=0;i<bands.length;i++) {%>
        <li class="band" id=<%= bands[i]._id %>>
            <span><%= bands[i].band %></span> -
            <span><%= bands[i].song %></span>
        </li>
    <% } %>
</section>


<script src="/static/js/dev.js"></script>
</body>
</html>